/**
 * helpers/_margins.scss Colors
 *
 * Write a description
 */

.marginPage{
    margin-left: 50px;
    margin-right: 50px;

    @include responsive('small'){
        margin-left: 25px;
        margin-right: 25px;
    }
}
.paddingPage{
    padding-left: 50px;
    padding-right: 50px;

    @include responsive('small'){
        padding-left: 25px;
        padding-right: 25px;
    }
}
.marginSection{
    margin-top: 80px;
    margin-bottom: 80px;

    @include responsive('small'){
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.paddingSection{
    padding-top: 80px;
    padding-bottom: 80px;

    @include responsive('small'){
        padding-top: 40px;
        padding-bottom: 40px;
    }
}